/* card.jsx */
.card{
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 2px 10px black;
  padding: 15px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 80%;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: rgb(56, 56, 56);
}

.student{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
}

.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2.5em;
  background-color: greenyellow;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

/* button.jsx */

/* .button{
  background-color: greenyellow;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
} */